.mainSearchBar{
    height: 500px;
    background-color: #415aff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.searchBox{
    width: 300px !important;
}

.mainTitleText{
    margin-top: 10%;
    color: #fffdf5;
    font-size: 60px;
}

.searchForm{
    display: flex;
	flex-direction: column;
}

.searchFilters{
    display: flex;
    flex-direction: row;
}

.checkBoxFilter{
    display: flex;
    flex-direction: row;
}
