.mainSearchBar{
    height: 450px;
    align-items: center;
    background-color: #415aff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.searchBox{
    width: 300px !important;
}


.titleText{
    margin-top: 10%;
    color: white;
    font-size: 60px;
}

.searchForm{
    display: flex;
    flex-direction: column;
}

.searchFilters{
    display: flex;
    flex-direction: row;
}

.checkBoxFilter{
    display: flex;
    flex-direction: row;
}
